$fs: 40px
$lh: 50px
$breakpoint: 640px

+global-reset()

html
  +box-sizing(border-box)

*,
*:before,
*:after
  box-sizing: inherit

html
  &[data-color='red'] > body
    background-color: red
  &[data-color='blue'] > body
    background-color: blue
  &[data-color='black'] > body
    background-color: black

  &[data-direction='up'] .stage
    +justify-content(flex-end)
  &[data-direction='down'] .stage
    +justify-content(flex-start)

html,
body
  height: 100%

body
  color: white
  font-size: $fs
  font-family: 'unionregular', sans-serif
  line-height: $lh
  text-rendering: optimizeLegibility
  text-transform: uppercase
  letter-spacing: 1px
  -webkit-font-smoothing: antialiased
  overflow: hidden
  @media (max-width: $breakpoint)
    font-size: $fs / 2
    line-height: $lh / 2

.stage
  +display-flex(flex)
  +flex-direction(column)
  height: 100%
  padding: $lh
  +opacity(0)
  +transition(opacity 0.5s)
  @media (max-width: $breakpoint)
    padding: $lh / 4
  &[data-state='running']
    +opacity(1)

span
  display: inline-block
  margin: ($lh / 2)
